*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header{
    display: flex;
    position: fixed;
    justify-content: space-between;
    /* padding: 2px; */
    width: 100%;
}

header ul{  

     color: white;
    padding:4px;
     margin-top: 10px;
     margin-left: 15px;
}
header ul li {
display: inline-flex;
font-size: 10px;
/* margin-left: 14px; */
/* padding: 5px; */
color: white;
 font-family: "pp";
 justify-content: space-between;
}
header ul li a
{
    text-decoration: none;
    color: #ffff;

}
header ul li a:hover
{
 color:#fc0;
 border-radius: 5px;  
}

.hero{
    background-image: url("./images/header.jpg");
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center, center;
    background-repeat: no-repeat;
}
.hero .hero-inner p{
    font-size: small;
    font-style: italic;
    color: #000;
    font-family:"pp";
    font-weight: lighter;
}
.hero .hero-inner h1{
    font-size: large;
    font-style: normal;
    text-decoration: none;
    font-weight: bolder;
    font-family: "pp";
  

}
header img{
  width: 30px;
  margin-left: 5px;
  margin-top: 8px;
}

.hero-inner{
 position: relative;    
     top: 50%;
    color: #fff;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    padding-top: 20px;
    font-size: 25px;
}
.service{
margin:0px auto;
text-align:center;
padding: 10% 5%;
color: #575350;
flex-direction: row;

}

.about-items{
  margin-bottom: 30px;
  
  
}

.about-items h3
{
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
margin-bottom: 20px;
text-align: center;
padding: 5% 5%;
font-size: small;
}
.about-items p
{
font-size: 10px;
font-family: 'Times New Roman', Times, serif;
text-align: center;
flex-direction: row;
padding: 5% 4%;
}

.sign-up img
{
 width: 100%;
 margin: auto;
}
.sign-up
{
    background-color: darkgrey;
    padding: 30px 0;
    text-align: center;

    background: #F7F7F7;
    padding-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    
    
}
.sign-up h2
{
    font-size: 16px;
    font-family: serif;
    margin-top: 20px2;
     font-family: "pp";
}
.sign-up p
{
    font-size: 8px;
    font-family: serif;
    line-height: 15px;
    margin-bottom: 20px;
     font-family: "pp";
  
 }
 .sign-up a
 { 
     background: rgb(236, 160, 82);
     padding: 10px 20px;
     /* justify-content: center;
     position: absolute; */
     font-weight: 700;
     text-decoration: none;
     border-radius: 5px;
    margin: 0px auto;
    text-decoration: none;
     
    text-transform: uppercase;
    color: #ffff;
    
     
    
 }
  .sign-up a:hover
  {
      background-color:chocolate;
      border: 3px solid cornflowerblue;
  }
  .comment-inner
  {
       background-color: #f7f7f7;
        padding: 10px;
        text-align: left;
        
       
  }
  .comments
  {
    text-align: center;
    justify-content: center;
    
}
.client
{
    text-align: center;
    margin: 35px 50px;
    justify-content: center;
     font-family: "pp";
  
}
.comment-items
{
font-size: 18px;
font-family: serif;
text-align: left;
padding: 10px;
display: inline;
background: #F7F7F7;
 font-family: "pp";
 
}

.comment-items h4
{
    text-align: left;
     font-family: "pp";
    font-size: small;
    margin: 20px 1px ;
   color: #969893;
    
    
} 
.comment-items p{
   text-align: left; 
   line-height: 25px;
   color: #969893;
   font-size: 10px;
    font-family: "pp";
}

.subscribe
{
    background: #ECA052;
    display: flex;
    flex-direction: column;
}
.subscribe .newsletter form{
    display: flex;
    flex-direction: row;
    padding: 10px 20px;
    
}
 .subscribe .newsletter #email
 {
    border-radius: 0 50px 50px 0;
    height: 40px;
    width: 90px;
    border: none;
    padding-left: 20px;
    margin-left: 5px;
   
 }

 .subscribe .newsletter #name
{
    border-radius: 50px 0 0 50px;
    height: 40px;
    border: none;
    padding-left: 20px;
    width: 90px;
    margin-left: -51px;
}
 .subscribe .newsletter .aa{
    border-radius: 50px;
    height: 40px;
    width: 100px;
    text-transform: capitalize;
    border: none;
    background: #575350;
    color: white;
    font-size: 15px;
    font-weight: 700;
    margin-left: 8px;
     padding: 10px 20px;
    
}
.subscribe h3
{
    text-align:center;
    justify-content: space-between;
    margin: 2px;
    padding: 10px 0px;
    font-size: xx-large;
    color: #fff;
     font-family: "pp";
}



.subscribe .newsletter .aa:hover
{
background-color:chocolate;
border: 3px solid cornflowerblue;

}
footer
{
    background-color:#393939;
    text-align: center;
    padding: 50px;
    margin-top:0px;
    justify-content: center;
}
footer ul li a
{
    text-decoration: none;
    display: inline;
    justify-content: center;
    color: #969893;
    font-weight: bold;
}
footer ul li
{
    display: inline;
    justify-content:center;
    font-size: 9px;
    font-family: 'Times New Roman', Times, serif;
    margin: 1px;
    color: #6d6e71;
   

   
}

footer img
{
    margin-bottom: 40px;
}
footer p 
{
    text-align: center;
    display: inline;
    color: #fff;
   display: inline;
   margin-left: -40px;
   justify-content: center;
}
footer p a
{
    text-decoration: none;
    display: inline;
    color: #fff;
    margin: 0px 2px; 
    padding: 30px, 0px;

}

footer hr{
justify-content: center;
    margin-top: 11px;
    margin-bottom: 11px;
    background-color: #969893;
    width: 100%;
    border: #363636 1px solid;
}



@media (min-width: 568px){
   header ul li{
        padding: 10px;
        margin: 10px;
    }
 .hero-inner h1{
       display: inline;
       font-size: 30px;
       text-align: center;
   }
   .hero-inner p{
       font-size: 20px;
   }
   .sign-up a:hover{
   background-color:chocolate;
  }

    
}


  /* .services{
        display: flex; 
       
    }  */
       .subscribe{
           display: flex;
              background: #ECA052;
           margin-bottom: 0;
           padding: 50px;
           text-align: center
       }
       .newsletter{
           display: inline;
       }
        .subscribe .newsletter #email
 {
    border-radius: 0 50px 50px 0;
    height: 40px;
    width: 90px;
    border: none;
    padding-left: 20px;
    margin-left: 5px;
   
 }

 .subscribe .newsletter #name
{
    border-radius: 50px 0 0 50px;
    height: 40px;
    border: none;
    padding-left: 20px;
    width: 90px;
    margin-left: -51px;
}
 .subscribe .newsletter .aa{
    border-radius: 50px;
    height: 40px;
    width: 100px;
    text-transform: capitalize;
    border: none;
    background: #575350;
    color: white;
    font-size: 15px;
    font-weight: 700;
    margin-left: 8px;
     padding: 10px 20px;
    
}


@media(min-width:768px){
      header{padding: 20px 50px;
position:absolute; 
width: 100%;
color: #000;
}
header img{
    width: 60px;
}
header ul{  float: right;
margin: 20px 0;
}
header ul li {
    display: inline;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin: 12px;
    padding: 15px;
    color: #fff;
    list-style: none;
    
}
    .services{
        display: flex;
       }
       .comment-inner
       {
       background-color: #f7f7f7;
     display: flex;
        padding: 50px;
        margin: 30px 50px;
       }
     .subscibe{
    background: #ECA052;
    margin-bottom: 0;
    padding: 50px;
    text-align: center;
}
 .subscribe .newsletter #email
 {
    border-radius: 0 50px 50px 0;
    height: 40px;
    width: 90px;
    border: none;
    padding-left: 20px;
    margin-left: 5px;
   
 }

 .subscribe .newsletter #name
{
    border-radius: 50px 0 0 50px;
    height: 40px;
    border: none;
    padding-left: 20px;
    width: 90px;
    margin-left: 51px;
}
 .subscribe .newsletter .aa{
    border-radius: 50px;
    height: 40px;
    width: 100px;
    text-transform: capitalize;
    border: none;
    background: #575350;
    color: white;
    font-size: 15px;
    font-weight: 700;
    margin-left: 8px;
     padding: 10px 20px;
    
}
footer hr{
 /* margin-left: 400px; */
    margin-top: 11px;
    margin-bottom: 11px;
    background-color: #969893;
    width: 100%;
    border: #363636 1px solid;
    
}

.subscribe h3
{
    text-align: center;
   
    padding: 10px 20px;
    font-size: xx-large;
    color: #fff;
}

.subscribe .newsletter form{
    justify-content: center;
}  

}
@media(min-width:992px){
      header{padding: 20px 50px;
position:absolute; 
width: 100%;
color: #000;
}
header img{
    width: 60px;
}
header ul{  float: right;
margin: 20px 0;
}
header ul li {
    display: inline;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin: 12px;
    padding: 15px;
    color: #fff;
    list-style: none;
    
}
    .services{
        display: flex;
       }
       .comment-inner
       {
       background-color: lightgrey;
     display: flex;
        padding: 50px;
        margin: 30px 50px;
       }
     .subscibe{
    background: #ECA052;
    margin-bottom: 0;
    padding: 50px;
    text-align: center;
}
 .subscribe .newsletter #email
 {
    border-radius: 0 50px 50px 0;
    height: 40px;
    width: 200px;
    border: none;
    padding-left: 20px;
    margin-left: 20px;
   
 }

 .subscribe .newsletter #name
{
    border-radius: 50px 0 0 50px;
    height: 40px;
    border: none;
    padding-left: 20px;
    width: 200px;
    margin-left: 20px;
}
 .subscribe .newsletter .aa{
    border-radius: 50px;
    height: 40px;
    width: 150px;
    text-transform: capitalize;
    border: none;
    background: #575350;
    color: white;
    font-size: 15px;
    font-weight: 700;
    margin-left: 20px;
     padding: 10px 20px;
    
}
.subscribe h3
{
    text-align: center;
   
    padding: 10px 20px;
    font-size: xx-large;
    color: #fff;
}
footer hr{
 margin-left: 400px;
    margin-top: 11px;
    margin-bottom: 11px;
    background-color: #969893;
    width: 60%;
    border: #363636 1px solid;
    
}
 
.subscribe .newsletter form{
    justify-content: center;
}  
      
}
@media(min-width:1200px){
   header{padding: 20px 50px;
position:absolute; 
width: 100%;
color: #000;
}
header img{
    width: 60px;
}
header ul{  float: right;
margin: 20px 0;
}
header ul li {
    display: inline;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin: 12px;
    padding: 15px;
    color: #fff;
    list-style: none;
     font-family: "pp";
    
}
    .services{
        display: flex;
       }
       .comment-inner {
       background: #F7F7F7;
     display: flex;
        padding: 50px;
        margin: 30px 50px;
         font-family: "pp";
       }
     .subscibe{
    background: #ECA052;
    margin-bottom: 0;
    padding: 50px;
    text-align: center;
     font-family: "pp";
}
 .subscribe .newsletter #email
 {
    border-radius: 0 50px 50px 0;
    height: 40px;
    width: 200px;
    border: none;
    padding-left: 20px;
    margin-left: 20px;
   
 }

 .subscribe .newsletter #name
{
    border-radius: 50px 0 0 50px;
    height: 40px;
    border: none;
    padding-left: 20px;
    width: 200px;
    margin-left: 20px;
}
 .subscribe .newsletter .aa{
    border-radius: 50px;
    height: 40px;
    width: 150px;
    text-transform: capitalize;
    border: none;
    background: #575350;
    color: white;
    font-size: 15px;
    font-weight: 700;
    margin-left: 20px;
     padding: 10px 20px;
    
}

.subscribe h3
{
    text-align: center;
   font-family: "pp";
    padding: 10px 20px;
    font-size: xx-large;
    color: #fff;
     font-family: "pp";
}


.subscribe .newsletter form{
    justify-content: center;
} 
.about-items p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 15px;
    width: 60%;
    margin: 0 auto;
    text-align: center;
    color: #616266;
     font-family: "pp";

}
.about-items h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: #616266;
    text-align: center;
    text-transform: uppercase;
    padding: 2% 0;
    font-size: 31px;
     font-family: "pp";
}

.sign-up img {
    width: 40%;
    height: auto;
    display: block;
    margin: 0px auto;
    padding: 20px;
}

.sign-up h2{
    font-size: 30px;
    color:#363636 ;
    text-align: center;
    text-transform: uppercase;
    padding: 2% 0;
    
}
.sign-up p {
  font-size: 15px;
    width: 60%;
    margin: 0 auto;
    text-align: center;
   color: #969893;
   text-transform: lowercase;
    font-family: "pp";
}


.sign-up a {
  display: block;
    background: #ECA052;
    border: none;
    margin: 2% auto 0;
    text-transform: uppercase;
    color: white;
    width: 8%;
    height: 50px;
    font-size: 18px;
    font-weight: bold;

}

.sign-up {
    background: #F7F7F7;
    padding-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    padding: 2% 0px;
     font-family: "pp";
}

footer hr{
justify-content: center;

    margin-top: 11px;
    margin-bottom: 11px;
    background-color: #969893;
    width: 60%;
    border: #363636 1px solid;
    }
.hero .hero-inner p{
    font-size: large;
    font-style: italic;
    color: #000;
    font-family:"Pp";
    font-weight: lighter;
}
.hero .hero-inner h1{
    font-size: xx-large;
    font-style: normal;
    text-decoration: none;
    font-weight: bolder;
    font-family: "pp";
  }
  footer
{
    background-color:#393939;
    text-align: center;
    padding: 50px;
    margin-top:0px;
}
footer ul li a
{
    text-decoration: none;
    color: #fff;
}
footer ul li
{
    display: inline;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    padding: 15px;
    color: #6d6e71; 
    font-weight: bold;
     font-family: "pp";
   

   
}

footer img
{
    margin-bottom: 40px;
}
footer p
{
    text-align: center;
    display: inline-flex;
    color: #fff;
    margin-top: 60px;
}
footer p a
{
    text-decoration: none;
    display: inline;
    color: #fff;
    margin: 0px 8px; 

}
  .comments .client{
    text-transform: uppercase;
    text-align: center;
    font-size: 32px
  }
  .comment-inner p{
      font-size: 15px;
      font-family: "pp";
  }
}

